<span class="posts_page">
<div class='row'>
      <% if signed_in? %>
      <aside class="span4">
      <section>
        <%= form_for(@post) do |f|%>
            <%= render 'shared/error_messages', object: f.object %>
            <div class='field'>
                <%= f.text_area :content, placeholder: "Compose a new post..." %>
            </div>
            <%= f.submit 'Post', class: 'btn btn-large btn-primary' %>
        <% end %>
      </section>
      </aside>
      <% else %>
      <aside class="span4">
        <section>
          <%= form_tag(signin_path, method: :get) do |f| %>
              <div class='field'>
                <%= text_area_tag(:content,(), {placeholder: "Sign in to compose a new post...", disabled: true}) %>
              </div>
              <%= submit_tag 'Post', class: 'btn btn-large btn-primary' %>
          <% end %>
        </section>
      </aside>
      <% end %>
      <div class="span8">
        <span class="pre-posts">
        <ol class="posts">
        <%= will_paginate @feed_items %>
        <h3>Post Feed</h3>
          <% i = 0 %>
          <% @feed_items.each do |feed_item| %>
              <li id="<%= feed_item.id %>">
        <span class="user">
            <%= link_to feed_item.user.name, feed_item.user %>
        </span>
                <span class="content"><%= truncate(feed_item.content, :length => 250, :separator => ' ', :omission => '...' )%></span>
        <span class="timestamp">
            Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
        </span>
             <% if current_user?(feed_item.user) %>
                <%= link_to 'delete', feed_item, method: :delete,
                                                 confirm: "You sure?",
                                                 title: feed_item.content %>
              <% end %>

              <div class="comments">
                <%= render 'shared/comments',  hash: @hash, i: i, feed_item: feed_item %>
              </div>
              </li>
          <% i += 1 %>
          <% end %>
        </ol>
        </span>
      </div>
    </div>
</span>
