<% provide(:title, 'Sign in')  %>
<h1>Sign in</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

    <p class="new_user_sign_up_now">New user? <%= link_to "Sign up now!", signup_path %></p>

<div class="forgotten_password field">
      <%= link_to "Forgotten Password?", '#',
                  :id => "forgot_my_password" %>
      <%= render :file => 'password_resets/new'%>
</div>
  </div>
  </div>
