<div class="comments">
  <% unless @hash["#{feed_item}"].nil? %>
      <% @hash["#{feed_item}"].each do |value, index| %>
          <br>
          <%= value.comment %>
          <br>
          Commented <%= time_ago_in_words(value.created_at) %> ago.
          <!-- text_area_tag :k, v, {disabled: true} -->
          <br>
      <% end %>
  <% end %>
</div>
<br/>
<% if signed_in? %>
<%= link_to "Reply", "#", class: "comment_form_reply_link", id: "#{i}" %>

<span class="div_for_ajax_for_comment_form">

<%= render 'shared/comment_form', i: i, feed_item: feed_item %>
</span>
<% else %>
<%= link_to "Reply", signin_path(going_for_root: "yes") %>
<% end %>

